<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">{{category}}</h4>
                      <p class="card-category">All pictures taken in {{category}}</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Pictures
                                  </th>
                                  <th>
                                      Videos
                                  </th>
                                  <th>
                                      Other
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let album of albums" [routerLink]="['/category', category, 'album', album.id]">
                                      <td>
                                          {{album.date}}
                                      </td>
                                      <td>
                                          {{album.name}}
                                      </td>
                                      <td>
                                          {{album.pictures}}
                                      </td>
                                      <td>
                                          {{album.videos}}
                                      </td>
                                      <td>
                                          {{album.others}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <!--<div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">{{category}}</h4>
                      <p class="card-category"> All pictures taken in {{category}}</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Pictures
                                  </th>
                                  <th>
                                      Videos
                                  </th>
                                  <th>
                                      Other
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let album of albums" [routerLink]="['/category', category, 'album', album.id]">
                                      <td>
                                          {{album.date}}
                                      </td>
                                      <td>
                                          {{album.name}}
                                      </td>
                                      <td>
                                          {{album.pictures}}
                                      </td>
                                      <td>
                                          {{album.videos}}
                                      </td>
                                      <td>
                                          {{album.others}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>-->
      </div>
  </div>
</div>
