

# dependencies
web-ui/node_modules
web-ui/platforms
web-ui/www

ionic-app/node_modules
ionic-app/platforms
ionic-app/www

gallery.ipr
gallery.iws

ionic-app/plugins

service-parent.iml
service-parent.ipr
service-parent.iws
