<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/#/user-profile">
                        User profile
                    </a>
                </li>
                <li>
                    <a href="/#/typography">
                        Typography
                    </a>
                </li>
                <li>
                    <a href="/#/icons">
                        Icons
                    </a>
                </li>
                <li>
                    <a href="/#/maps">
                        Maps
                    </a>
                </li>
                <li>
                    <a href="/#/notifications">
                        Notifications
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
