<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Service versions</h4>
    <p class="card-category">Application and API services versions. The table lists active modules only.</p>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>Module name</th>
      <th>Version</th>
      <th>Build date and time</th>
      <th>Started since</th>
      </thead>
      <tbody>
      <tr *ngFor="let item of versions">
        <td>{{item.id}}</td>
        <td>{{item.version}}</td>
        <td>{{item.buildTimestamp}}</td>
        <td>{{item.uptime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>