<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">{{album}}</h4>
                        <p class="card-category"><a [routerLink]="['/category', category]">{{category}}</a></p>
                    </div>
                    <div id="pictures" class="card-body pictures">
                        <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
                            <div ngxMasonryItem class="masonry-item" *ngFor="let picture of pictures">
                                <img alt="{{picture.name}}"
                                     src="https://gallery.redby.fr/rest/picture/small/{{picture.path}}" />
                            </div>
                        </ngx-masonry>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
