<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title ">Search results</h4>
                  <p class="card-category"> {{keyword}}</p>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table">
                          <thead class=" text-primary">
                              <th>
                                  Category
                              </th>
                              <th>
                                  Date
                              </th>
                              <th>
                                  Album
                              </th>
                              <th>
                                  Pictures
                              </th>
                              <th>
                                  Videos
                              </th>
                              <th>
                                  Other
                              </th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let album of albums" [routerLink]="['/category', album.category, 'album', album.id]">
                                  <td>
                                      {{album.category}}
                                  </td>
                                  <td>
                                      {{album.date}}
                                  </td>
                                  <td>
                                      {{album.name}}
                                  </td>
                                  <td>
                                      {{album.pictures}}
                                  </td>
                                  <td>
                                      {{album.videos}}
                                  </td>
                                  <td>
                                      {{album.others}}
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
