<div class="card card-chart">
    <div class="card-header card-header-success">
      <div class="ct-chart" id="sizePerYearChart"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{sizePerYear.name}}</h4>
      <!--TODO: check if relevant <p class="card-category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p> -->
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">access_time</i> updated on {{sizePerYear.date}}
      </div>
    </div>
</div>
