name: Build and Push Docker Image - Service Years

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker image
        working-directory: services/service-years/
        run: |
          docker build -t docker.redby.fr/gallery/service-years:latest .

      - name: Push Docker image
        working-directory: services/service-years/
        run: |
          docker push docker.redby.fr/gallery/service-years:latest
